/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 @import "bootstrap-sprockets";
 @import "bootstrap";
 */
/* line 17, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
body {
  background-color: #333333 !important;
  padding-top: 50px;
}

/* line 22, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
h1 {
  color: #ccc !important;
}

/* line 26, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.container {
  color: #ddd;
}

/* line 30, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.inner-container {
  padding: 40px 15px;
  text-align: center;
}

/* line 35, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.list-group {
  padding-top: 30px !important;
  width: 900px;
  margin: 0 auto !important;
}

/* line 41, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
ul#cases ul {
  display: inline-block;
  padding-left: 10px;
}

/* line 46, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.well h2 {
  color: #555;
}

/* line 49, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.well {
  color: #777;
}

/* line 52, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.blurb {
  padding: 0 40px;
}

/* line 56, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.inner {
  display: inline-block;
}

/* line 61, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.case-label {
  text-align: left;
}

/* line 65, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.submit {
  text-align: right;
}

/* line 69, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
#labels {
  color: #555;
}

/* line 73, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.form-group {
  clear: both;
  text-align: left;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 81, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.form-group input {
  width: 100%;
}

/* line 85, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.description {
  padding: 0 14px;
}

/* line 88, /Users/sholton/src/desk/app/assets/stylesheets/application.css.scss */
.description textarea {
  min-height: 200px;
  width: 100%;
}
