<h1>Your Labels</h1>

<ul id="labels">
	<% @labels.each do |label| %>
		<li class="label-<%= label.id %>">
			<%= label.name %>
		</li>
	<% end %>
</ul>

<%= link_to "Create New Label", new_label_path %>