<div class="labels">
	<h1>Your Labels</h1>

	<%= link_to "Create New Label", new_label_path, :class => 'btn btn-info' %>

	<ul id="labels" class="list-group">
		<% @labels.each do |label| %>
			<li class="label-<%= label.id %> list-group-item">
				<%= label.name %>
			</li>
		<% end %>
	</ul>
</div>