<h1>Your Filters</h1>

<ul id="filters">
	<% @filters.each do |_filter| %>

		<li class="case-<%= _filter.id %>">
			<%= link_to _filter.name, _filter._links["self"]["href"] %></a>
		</li>
	<% end %>
</ul>