<h1>Your Cases</h1>

<ul id="cases">
	<% @cases.each do |_case| %>

		<li class="case-<%= _case.id %>">
			<%= link_to _case.subject, cases_path %></a>
			<% if _case.labels %>
				<ul class="labels">
					<% _case.labels.each do |label| %>
						<li class="label"><%= label %></li>
					<% end %>
				</ul>
			<% end %>
		</li>
	<% end %>
</ul>